<h2>Reset Password</h2>
<div class="success-message" *ngIf="message">
  {{ message }}
</div>

<!-- Error message -->
<div class="error-message" *ngIf="error">
  {{ error }}
</div>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <label>New Password:</label>
  <input type="password" formControlName="newPassword" placeholder="Enter new password" required />

  <label>Confirm Password:</label>
  <input type="password" formControlName="confirmPassword" placeholder="Confirm password" required />

  <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
</form>
