<div class="register-container">
  <h2>Create Account</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Full Name -->
    <div class="form-group">
      <label>Full Name</label>
      <input type="text" formControlName="name" placeholder="Enter name" />
      <small *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
        Name is required
      </small>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter email" />
      <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        Enter a valid email
      </small>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Enter password" />
      <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        Minimum 6 characters required
      </small>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Register</button>

    <p>Already have an account? <a routerLink="/login">Login</a></p>

  </form>
</div>
